 
.navbar{
    font-family: 'Archivo Black', sans-serif;
    /* text-shadow: 2px 2px 5px white; */
    
    
}
body{
    background-color: black;
    /* color: white; */
    min-height: 100vh;
}
i{
    font-size: 22px;
}
i:hover{
    text-shadow: 5px 5px 35px dodgerblue;
    font-size:35px;
    

}
  /* #wrapper {
    margin-top:auto;
  } */
  .footer {
    position: absolute;
    bottom: 0;
  }
  /* .activator {
      height: 300px;
      width: auto;
  } */
  .dispBox {
    box-shadow: 8px 8px 8px dodgerblue;
    /* flex-wrap: nowrap;
    flex-direction: row; */
}