 
.navbar{
    font-family: 'Archivo Black', sans-serif;
    /* text-shadow: 2px 2px 5px white; */
    
    
}
.brand-logo{
    margin-left: 10px;
}
body{
    background-color: black;
    /* color: white; */
    min-height: 100vh;
}
i{
    font-size: 22px;
}
i:hover{
    text-shadow: 5px 5px 35px dodgerblue;
    font-size:35px;
    transition: font-size 1s;
    

}
 .blueman{
     color:dodgerblue !important;
 }
 .blueman:hover{
    text-shadow: 5px 5px 35px dodgerblue;
    font-size:22px;
    transition: font-size 1s;

 }
  .page-footer {
    /* position: absolute; */
    bottom: 0;
    color: dodgerblue !important;
  }
  /* .activator {
      height: 300px;
      width: auto;
  } */
  .dispBox {
    box-shadow: 8px 8px 8px dodgerblue;
    /* flex-wrap: nowrap;
    flex-direction: row; */
}

.naming-sect{
    
    font-family: 'Alfa Slab One', cursive;
    vertical-align: auto;
    border: 2px dodgerblue;
    text-shadow: 2px 2px 10px dodgerblue;
    -webkit-text-stroke-width: .25px;
    -webkit-text-stroke-color: dodgerblue;
    transition: text-shadow 1s;
    font-size: 50px;
    margin-top: 140px;
    margin-bottom: 250px;
        
    
}
.naming-sect:hover{
    text-shadow: 2px 2px 35px dodgerblue;
    

}
.nameSz{
    font-size: 50px;
}
.stackz{
    font-size: 40px;
}


